<!--===== HEADER =====-->
<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="#" class="nav__logo">Uttam Nayek</a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<main class="l-main">
    <!--===== HOME =====-->
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <h1 class="home__title"><span>HELLO</span></h1>

            <div class="home__scroll">
                <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt'></i>Scroll down</a>
            </div>

            <img src="unplaged_uttam-removebg-preview.png" alt="" class="home__img">
        </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about section" id="about">
        <h2 class="section-title">About</h2>

        <div class="about__container bd-grid">
            <div class="about__img">
                <img src="unplaged_uttam-removebg-preview (1).png" alt="">
            </div>

            <div>
                <h2 class="about__subtitle">I'm Uttam Nayek</h2>
                <span class="about__profession">Java Devloper</span>
                <p class="about__text">Hi i am Uttam, I am a Full Stack Java Devloper. Still i don't have any
                    Opportunity to gather experience in this Field , But I am waiting for join with a team and
                    work upon the project and make it sucessful with my Hundread percent skills and ability.</p>

                <div class="about__social">
                    <a href="#" class="about__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="about__social-icon"><i class='bx bxl-github'></i></a>
                    <a href="#" class="about__social-icon"><i class='bx bxl-dribbble'></i></a>
                </div>
            </div>
        </div>
    </section>

    <!--===== SKILLS =====-->
    <section class="skills section" id="skills">
        <h2 class="section-title">Skills</h2>

        <div class="skills__container bd-grid">
            <div class="skills__box">
                <h3 class="skills__subtitle">Development</h3>
                <span class="skills__name">Html<img src="HTML_un.png"></span>
                <span class="skills__name">Css<img src="CSS_un.png"></span>
                <span class="skills__name">Javascript<img src="JS_un.png"></span>
                <span class="skills__name">Javascript<img src="JAVA_un.png"></span>
                <span class="skills__name">My SQL<img src="SQL_un.png"></span>
                <span class="skills__name">C<img src="C_un.png"></span>

                <h3 class="skills__subtitle">Design</h3>
                <span class="skills__name">React js</span>
                <span class="skills__name">Mongo DB</span>
                <span class="skills__name">Spring Boot</span>
            </div>

            <div class="skills__img">
                <img src="skill.jpg" alt="">
            </div>
        </div>
    </section>

    <!--===== PORTFOLIO =====-->
    <section class="portfolio section" id="portfolio">
        <h2 class="section-title">Portfolio</h2>

        <div class="portfolio__container bd-grid">
            <div class="portfolio__img">
                <img src="work1.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">View details</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="work2.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">View details</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="work3.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">View details</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="work4.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">View details</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="work5.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">View details</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="work6.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">View details</a>
                </div>
            </div>
        </div>
    </section>

    <!--===== CONTACT =====-->
    <section class="contact section" id="contact">
        <h2 class="section-title">Contact</h2>

        <div class="contact__container bd-grid">
            <div class="contact__info">
                <h3 class="contact__subtitle">EMAIL</h3>
                <span class="contact__text">unayek91gmail.com</span>

                <h3 class="contact__subtitle">PHONE</h3>
                <span class="contact__text">+91 7679130608</span>
                <span class="contact__text">+91 9749194428</span>

                <h3 class="contact__subtitle">ADRESS</h3>
                <span class="contact__text">India | West Bengle | Kakdweep | 743349</span>
            </div>

            <form action="" class="contact__form">
                <div class="contact__inputs">
                    <input type="text" placeholder="Name" class="contact__input">
                    <input type="mail" placeholder="Email" class="contact__input">
                </div>

                <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                <input type="submit" value="Enviar" class="contact__button">
            </form>
        </div>
    </section>
</main>

<!--===== FOOTER =====-->
<footer class="footer section">
    <div class="footer__container bd-grid">
        <div class="footer__data">
            <h2 class="footer__title">UTTAM NAYK</h2>
            <p class="footer__text">I'm Uttam Nayek and this is my personal website</p>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">EXPLORE</h2>
            <ul>
                <li><a href="#home" class="footer__link">Home</a></li>
                <li><a href="#about" class="footer__link">About</a></li>
                <li><a href="#skills" class="footer__link">Skills</a></li>
                <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                <li><a href="#Contact" class="footer__link">Contact</a></li>
            </ul>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">FOLLOW</h2>
            <a href="https://www.facebook.com/uttam.nayek.52687" class="footer__social" target="_blank"><i
                    class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/unayek91/" class="footer__social" target="_blank"><i
                    class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__social" target="_blank"><i class='bx bxl-twitter'></i></a>
        </div>


    </div>
</footer>
<script type="module">
    import programmingLanguagesLogos from 'https://cdn.jsdelivr.net/npm/programming-languages-logos@0.0.3/+esm'
</script>
<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--===== MAIN JS =====-->
<script src="port.js"></script>