<nav class="custom-navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/home">
        <img src="bgremove1.png" alt="Logo" />
      </a>
      <button class="menu-toggle" (click)="menuOpen = !menuOpen">&#9776;</button>
    </div>

    <div class="navbar-links" [ngClass]="{ 'open': menuOpen }">
      <ul>
        <li><a routerLink="/admin" class="nav-link">admin</a></li>
        <li><a routerLink="/member" class="nav-link">member</a></li>
        <li><a href="/user" class="nav-link">user(href)</a></li>
        <li><a routerLink="/data" class="nav-link">data-binding</a></li>
        <li><a routerLink="/control" class="nav-link">Control-Flow</a></li>
        <li><a routerLink="/getapi" class="nav-link">Get-Api</a></li>
        <li><a routerLink="/videos" class="nav-link">videos</a></li>
        <li>
          <a routerLink="/login" class="nav-link login-button">
            <span class="login-icon-text">Login</span>
            <span class="login-icon-avatar">
              <div class="circle-head"></div>
              <div class="rectangle-body"></div>
            </span>
            <span class="login-icon-lock">
              <div class="lock-top"></div>
              <div class="lock-box"></div>
            </span>
          </a>
        </li>

      </ul>
      <form class="search-form">
        <input type="text" placeholder="Search" />
        <button type="button">Search</button>
      </form>
    </div>
  </div>
</nav>



<router-outlet />

<footer class="footer-section" id="foorSec">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-4">
        <h2 class="footer__title">Uttam Nayek</h2>
        <p class="footer__text">Full Stack Java Developer</p>
      </div>
      <div class="col-md-4">
        <h2 class="footer__title">Explore</h2>
        <ul>
          <li><a href="#home" class="footer__link">Home</a></li>
          <li><a href="#about" class="footer__link">About</a></li>
          <li><a href="#skills" class="footer__link">Skills</a></li>
          <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
          <li><a href="#contact" class="footer__link">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="footer__title">Follow</h2>
        <a href="https://www.facebook.com/utt121am" class="footer__social" target="_blank"><i
            class='bx bxl-facebook'></i></a>
        <a href="https://www.instagram.com/utt121am/" class="footer__social" target="_blank"><i
            class='bx bxl-instagram'></i></a>
        <a href="https://twitter.com/utt121am" class="footer__social" target="_blank"><i class='bx bx-x'></i></a>
        <a href="mailto:unayek91@example.com" class="footer__social"><i class='bx bx-envelope'></i></a>
        <a href="tel:+1234567890" class="footer__social"><i class='bx bx-phone'></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2025 Polo Angular. All rights reserved.</p>
  </div>
</footer>