<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/home">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/member">member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">user(href)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/data">data-binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/control">Control-Flow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/getapi">Get-Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videos">videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">profile</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet />


<!-- //........................ -->