<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="" alt="Logo" style="height:40px; width:auto;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/member">member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">user(href)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/data">data-binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/control">Control-Flow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/getapi">Get-Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videos">videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">profile</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>


<router-outlet />


<!-- //........................ -->
<footer class="footer-section" id="foorSec">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-4">
        <h2 class="footer__title">Uttam Nayek</h2>
        <p class="footer__text">Full Stack Java Developer</p>
      </div>
      <div class="col-md-4">
        <h2 class="footer__title">Explore</h2>
        <ul>
          <li><a href="#home" class="footer__link">Home</a></li>
          <li><a href="#about" class="footer__link">About</a></li>
          <li><a href="#skills" class="footer__link">Skills</a></li>
          <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
          <li><a href="#contact" class="footer__link">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="footer__title">Follow</h2>
        <a href="https://www.facebook.com/utt121am" class="footer__social" target="_blank"><i
            class='bx bxl-facebook'></i></a>
        <a href="https://www.instagram.com/utt121am/" class="footer__social" target="_blank"><i
            class='bx bxl-instagram'></i></a>
        <a href="https://twitter.com/utt121am" class="footer__social" target="_blank"><i class='bx bx-x'></i></a>
        <a href="mailto:unayek91@example.com" class="footer__social"><i class='bx bx-envelope'></i></a>
        <a href="tel:+1234567890" class="footer__social"><i class='bx bx-phone'></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2025 Polo Angular. All rights reserved.</p>
  </div>
</footer>